/* Base */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Main nav */

.main-nav ul {
    background: white;
}

.main-navbar {
    width: 50%;
    height: 50%;
}

.main-nav button {
    background: darkred;
    color: whitesmoke;
    padding: 2px;
    text-transform: uppercase;
    display: block;
}

select {
    background: steelblue;
    color: white;
    padding: 2px;
    text-transform: uppercase;
}


/* Footer */

footer {
    text-align: center;
}

footer a {
    background: white;
    color: steelblue;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
}


/* helpers */


/* flex */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}


/* Lists */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* Media Queries */


/* @media (min-width: 760px) {}

@media (min-width: 840px) {}

@media (min-width: 1120px) {} */